---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Eric Melin";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="Vector" src="/vector1.svg"/>
    </div>
    <h1>Eric Melin</h1>
    <span class="badge">Student (and developer)</span>
    <br>
    <br>
    <span class="badge">Languages: Finnish, Swedish and English</span>
    <h2>About</h2>
    <p>
        Hey!
    </p>
    <p>
        I'm a 20-year-old engineering student from Helsinki, Finland, with a passion for solving complex problems and a keen analytical mind. 
        My journey into the world of web development began when I was just 10 years old, and since then, 
        I have honed my skills through various projects and experiences.
    </p>
    <p>
        Over the years, I have developed a strong foundation in web development and configuration. 
        My experience includes creating websites for clients using WordPress during my free time and building websites with Laravel before the advent of easier content management systems. 
        Currently, I am actively learning and experimenting with various JavaScript frameworks to stay updated with the latest trends and technologies.
    </p>
    <p>
        In addition to development, I have successfully safeguarded websites from DOS and DDOS attacks using Cloudflare and other technologies. 
        My technical expertise also extends to setting up websites on servers, registering domains, and configuring proxies.
    </p>
    <p>
        I am driven by a continuous desire to learn and improve, 
        and I am excited about the future possibilities in the field of web development. 
        Thank you for visiting my portfolio!
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">My portfolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        
        <img class="skills__img" width="46" height="46" alt="Astro" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-original.svg" />
        <img class="skills__img" width="46" height="46" alt="WordPress" src="https://devicon-website.vercel.app/api/wordpress/plain.svg?color=%23FFFFFF" />
        <img class="skills__img" width="46" height="46" alt="CloudFlare" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cloudflare/cloudflare-original.svg" />
        <img class="skills__img" width="46" height="46" alt="Figma" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/figma/figma-original.svg" />
        <img class="skills__img" width="46" height="46" alt="Linux" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linux/linux-original.svg" />
        <img class="skills__img" width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
    </div>
    <h2>Interests</h2>
    <p>
        In my free time, I immerse myself in a variety of hobbies that keep me both mentally and physically engaged. 
        I have a deep passion for computers and programming, constantly exploring new technologies and improving my skills in web development and cybersecurity. 
        Staying active is also important to me, so I dedicate time to working out and maintaining a healthy lifestyle. 
        Additionally, I enjoy producing music, experimenting with sounds, 
        and creating my own tracks, which serves as a unique and creative outlet.
    </p>
</Layout>

