---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">Eric Melin</a>
    </div>
    <div class="navbar__menu">
        <a href="/works/">Works</a>
        <a href="https://github.com/ercode1337/" target="_blank">GitHub</a>
        <ThemeIcon />
    </div>
</div>

